.main-savannah-index {
  background-image: url('/src/containers/Games/Savannah/bg-all.a3994c8c91d1d5d5d10424ea1c919f70.svg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: center;
  transition: all 1s ease;
  overflow: hidden;
}
