$aside-color: rgb(124, 166, 222);
$light-theme: #F8F2EE;
$dark-theme: #242525;
$font: #fff;
$card: #84cca7;
$card-font-hover: #fbf1cf;

#main {
  color: white;
}

.main-content {
  width: 100%;
  height: 100%;
  background-color: #F8F2EE;
  user-select: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: $aside-color;
  display: flex;
  z-index: 9;
  box-shadow: 3px 0 10px rgba(58, 58, 58, 0.589);
  border-right: 1px solid rgba(68, 68, 68, 0.24);
  transition: .3s;
  ul {
    list-style: none;
  }
  ul li {
    transition: .3s;
    font-size: 30px;
    margin-top: 50px;
  }
  ul li:hover {
    opacity: .7;
  }

  ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: .3s;
    .side-menu {
      font-size: .5em;
      position: absolute;
      opacity: 0;
      color:rgb(124, 166, 222);
      left: 80px;
      top: 10px;
      width: 75px;
      height: 25px;
      background-color: #fff;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 5px 10px rgba(128, 128, 128, 0.589);
      transition: .3s;
    }
    .slide-menu {
      font-size: 24px;
      padding-left: 15px;
      color: white;
      text-align: center;
      transition: .3s;
    }
    .slide-menu span {
      transition: .3s;
    }
  }
  .arrow-right {
    cursor: pointer;
    margin-left: 10px;
  }
    .header-nav {
      position: relative;
      margin-left: 30px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      padding: 0;
      flex-direction: column;
      transition: .3s;
    }
}

.open {
  width: 300px;
}

.main-aside-btn {
  background-color: $aside-color;
  border: none;
  border-radius: 50%;
  width: 50px;
  color: $font;
  outline: none;
  position: relative;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.8;
    .aside-menu-tooltip {
      visibility: visible;
    }
  }
  &:active {
    opacity: 0.5;
  }
}

.aside-menu-tooltip {
  visibility: hidden;
  font-size: 1.2vw;
  height: 2vw;
  background-color: $aside-color;
  color: $font;
  border-radius: 5px;
  padding: 0 5px;
  position: absolute;
  top: calc(50% - (2vw / 2));
  left: 150%;
  z-index: 1;
}

.aside-tooltip-visible {
  visibility: visible;
  opacity: 0;
  animation: reveal .3s linear;
  animation-delay: .2s;
  animation-fill-mode: both;
}

.aside-logout:hover {
  opacity: 0.7;
}

@keyframes reveal {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.theme-btn {
  border: none;
  background: none;
  outline: none;
  color: $font;
  &:focus {
    outline: none;
  }
}

.sun {
  color: yellow
}

.moon {
  color: lightblue;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .3s;
}
.header-text {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  color: #90A5D0;
}
.main-stat-container {
  background-color: #90A5D0;
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}
.main-stat {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: row;
}
.main-stat div p {
  margin: 10px;
}
.main-information {
  margin-left: 15%;
  margin-top: 50px;
  display: grid;
  width: 85%;
  grid-template-columns: 25% 53.5%;
  column-gap: 74px;
  margin-bottom: 50px;

  .main-control-center {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #90A5D0;
    border-radius: 5px;
    border: 1px solid rgba(68, 68, 68, 0.068);
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    transition: .3s;
  }

  .main-control-center:hover{
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
    transition: .2s;
  }

  .main-card-text {
    text-align: right;
    font-size: 3em;
  }

  .main-stat {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #90A5D0;
    border-radius: 3px;
    transition: .5s;
    border: 1px solid rgba(68, 68, 68, 0.068);
    border-bottom: 3px solid rgba(68, 68, 68, 0.24);
    cursor: pointer;
  }

  .main-stat:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: .2s;
  }

  .main-last-game {
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #90A5D0;
    border-radius: 5px;
    transition: .5s;
    border: 1px solid rgba(68, 68, 68, 0.068);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(68, 68, 68, 0.24);
  }

  .main-last-game:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transition: .2s;
  }
}

.main-dark {
  background-color: $dark-theme;
}

.main-light {
  background-color: $light-theme;
}

.main-font-btn {
  background: none;
  outline: none;
  border: none;
  color: $font;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $card-font-hover;
  }
  &:active {
    opacity: .5;
  }
}

.header-text-2 {
  text-align: center;
  font-size: 2em;
  color: $card;
}
.games-container {
  margin-left: 15%;
  margin-top: 50px;
  display: grid;
  width: 85%;
  grid-template-columns: 25% 25% 25%;
  column-gap: 74px;
  row-gap: 20px;
  margin-bottom: 100px;
}
#right {
  font-size: 50px;
  padding-left: 10px;
}
#left {
  font-size: 50px;
  padding-left: 10px;
}
.game-card {
  position: relative;
  box-sizing: border-box;
  background-color: $card;
  color: $font;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(68, 68, 68, 0.068);
  transition: .5s;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
  user-select: none;
}
.game-name {
  text-align: right;
  color: $font;
  font-size: 2em;
  transition: .1s;
}

.game-link:hover {
  text-decoration: none;
  .game-name {
    cursor: pointer;
    color: $card-font-hover;
  }
}

.game-card:hover {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  transition: .2s;
}
.about-game {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: .3s;
  border: none;
  border-radius: 50%;
  outline: none;
  color: $card;
  background-color: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $aside-color;
  }
  &:active {
    opacity: 0.5;
  }
}

.main-control-center div {
  margin-bottom: 15px;
}

.modes {
  float: right;
}

.modes > i {
  margin-right: 10px;
  color: white;
}

.sun[class*="active"] {
  color:yellow !important;
}

.moon[class*="active"] {
  color: rgb(0, 255, 255) !important;
}


.lang-switch {
  float: right;
  margin-right: 12px;
}
.active-lang {
  color: $card-font-hover;
}
.font-switch {
  float: right;
  margin-right: 12px;
}

.profile {
  position: absolute;
  margin-left: 0;
  padding: 0;
  bottom: 50px;
  left: 30px;
}

.profile > i {
  font-size: 40px;
}

.sign {
  position: absolute;
  margin-left: 0;
  padding: 0;
  bottom: 10px;
  left: 20px;
}
.sign:hover {
  cursor: pointer;
}
.cards-hide {
  display: none;
}
.cards-game-settings {
  cursor: pointer;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #90A5D0;
  border-radius: 5px;
  border: 1px solid rgba(68, 68, 68, 0.068);
  border-bottom: 4px solid rgba(68, 68, 68, 0.24);
  transition: .5s;
  box-shadow: 5px 0 10px rgba(0,0,0,0.5);
}

.cards-game-settings div {
  margin-bottom: 10px;
}
.cards-game-settings:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  transition: .2s;
}
.cards-game-text {
  padding-top: 12px;
  font-size: 36px;
  text-align: right;
}
.cards-game-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.cards-game-buttons button {
  width: 30%;
  height: 50px;
  outline: 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: .2s;
}
.cards-game-buttons button:active {
  opacity: 0.8;
  transition: .2s;
}

.cards-game-play-button {
  background-color: #84cca7;
  color: #ffffff;
  border: 0;
  border-bottom: 3px solid #52ac7d;
  transition: .5s;
}

.cards-game-play-button:hover {
  background-color: #52ac7d;
  transition: .5s;
}
.cards-game-setting-button:hover {
  background-color: #f0dfdf;
  transition: .5s;
}

.cards-game-setting-button {
  background-color: #F8F2EE;
  border: 0;
  border-bottom: 3px solid #f0dfdf;
}

.cards-game-hints ul {
  list-style: none;
}
.cards-game-words-setting ul {
  list-style: none;
}

@media(max-width: 1600px) {
  .main-stat-container {
    width: 72%;
  }
}
@media(max-width: 1024px) {
  .main-stat-container {
    width: 72%;
  }
  .games-container {
    margin-left: 15%;
    margin-top: 50px;
    display: grid;
    width: 85%;
    grid-template-columns: 40% 40%;
    column-gap: 74px;
    row-gap: 20px;
    margin-bottom: 100px;
  }
  .main-information {
    margin-left: 15%;
    margin-top: 50px;
    display: grid;
    width: 85%;
    grid-template-columns: 35% 42.5%;
    column-gap: 74px;
    margin-bottom: 50px;
  }
  .main-control-center div {
    margin-bottom: 40px;
  }
  @media(max-width: 900px) {
    .main-stat-container {
      margin-left: 20%;
      width: 65%;
    }
    .main-stat {
      flex-direction: column;
    }
    .games-container {
      margin-left: 20%;
      margin-top: 50px;
      display: grid;
      width: 80%;
      grid-template-columns: 80%;
      column-gap: 74px;
      row-gap: 20px;
      margin-bottom: 100px;
    }
    .main-information {
      margin-left: 20%;
      margin-top: 50px;
      display: grid;
      width: 80%;
      grid-template-columns: 80%;
      column-gap: 74px;
      margin-bottom: 50px;
      row-gap: 50px;
    }
    .main-control-center div {
      margin-bottom: 40px;
    }
    .header-text-2 {
      font-size: 24px;
      width: 80%;
      margin-left: 20%;
    }
    .header-text {
      font-size: 24px;
      width: 80%;
      margin-left: 20%;
    }
    @media(max-width: 540px) {
      .main-stat-container {
        margin-left: 30%;
        width: 63%;
      }
      .main-stat {
        flex-direction: column;
      }
      .games-container {
        box-sizing: border-box;
        margin-left: 30%;
        margin-top: 50px;
        display: grid;
        width: 70%;
        grid-template-columns: 90%;
        column-gap: 74px;
        row-gap: 20px;
        margin-bottom: 100px;
      }
      .main-information {
        box-sizing: border-box;
        margin-left: 30%;
        margin-top: 50px;
        display: grid;
        width: 70%;
        grid-template-columns: 90%;
        column-gap: 74px;
        margin-bottom: 50px;
        row-gap: 50px;
      }
      .main-control-center div {
        margin-bottom: 40px;
      }
      .header-text-2 {
        font-size: 22px;
        width: 80%;
        margin-left: 20%;
      }
      .header-text {
        font-size: 22px;
        width: 80%;
        margin-left: 20%;
      }
      .modal-hint {
        width: 100%;
      }
      .setting-content {
        width: 100vw !important;
      }
      .cards-game-buttons {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .cards-game-buttons button {
        width: 100%;
        height: 50px;
        outline: 0;
        text-transform: uppercase;
        border-radius: 5px;
        transition: .2s;
      }
      @media(max-width: 400px) {
        .main-stat-container {
          margin-left: 30%;
          width: 70%;
        }
        .main-stat {
          flex-direction: column;
        }
        .games-container {
          box-sizing: border-box;
          margin-left: 30%;
          margin-top: 50px;
          display: grid;
          width: 70%;
          grid-template-columns: 100%;
          column-gap: 74px;
          row-gap: 20px;
          margin-bottom: 100px;
        }
        .main-information {
          box-sizing: border-box;
          margin-left: 30%;
          margin-top: 50px;
          display: grid;
          width: 70%;
          grid-template-columns: 100%;
          column-gap: 74px;
          margin-bottom: 50px;
          row-gap: 50px;
        }
        .main-control-center div {
          margin-bottom: 40px;
        }
        .header-text-2 {
          font-size: 22px;
          width: 70%;
          margin-left: 30%;
        }
        .header-text {
          font-size: 22px;
          width: 70%;
          margin-left: 30%;
        }
        .modal-hint {
          width: 100%;
        }
        .setting-content {
          width: 100vw !important;
        }
      }
    }
  }
}

