.sound {
  width: 23px;
  height: 24px;
  background-image: url(/src/components/Games/Savannah/GameScreen/components/Sound/sound.svg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: relative;
}
