.english-puzzle-settings, .english-puzzle-settings-group, .english-puzzle-settings-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.english-puzzle-settings {
    width: 20%;
    font-size: 1vw;
}

.english-puzzle-settings-group, .english-puzzle-settings-page {
    width: 40%;
}

#page, #group {
    width: 50%;
    text-align: center;
    height: max-content;
    font-size: 1vw;
    cursor: pointer;
}


