.hints-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auto-pronunciation, .show-hint, .pronounce-word, .show-background {
    height: 2vw;
    width: 2vw;
    font-size: 1vw;
    border-radius: 3px;
    background-color: #3d8180;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 0.5vw;
    cursor: pointer;
    position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  font-size: .7vw;
  background-color: #5c9890;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 1;
}

.auto-pronunciation:hover, .show-hint:hover,
.pronounce-word:hover, .show-background:hover {
    background-color: #5c9890;
    transition: .1s ease-in-out;
    .tooltiptext {
      visibility: visible;
    }
}

.auto-pronunciation:active, .show-hint:active,
.pronounce-word:active, .show-background:active {
    opacity: 0.5;
}

.off, .off:hover, .off:active {
    background-color: #38626e;
}
