* {
  box-sizing: border-box;
}

.help-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-left: 5%;
  margin-top: 1vw;
}

.show-correct-sentence, .check, .continue, .results {
  width: 7vw;
  height: 2vw;
  margin-right: 1vw;
  background-color: #3d8180;
  border-radius: 3px;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: .7vw;
}

.show-correct-sentence:hover, .check:hover, .continue:hover, .results:hover {
  background-color: #5c9890;
  transition: .1s ease-in-out;
}

.show-correct-sentence:active, .check:active, .continue:active, .results:active {
  opacity: 0.5;
}

.disabled {
  display: none;
}
